@using DChat.Application.Shared.ClientServer
@using DChat.Application.Shared.Server.Services
@using DChat.Data
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@inject UserManager<ChatUser> UserManager
@inject ChatService ChatService
@inject NotificationsService NotificationsService
@inject IJSRuntime JSRuntime

@implements IDisposable

<HeadContent>
    <link rel="stylesheet" href="_content/DChat.Application.Shared.Server/chat.css?v=@BuildVersion" />
    <script src="Components/Chat.razor.js?v=@BuildVersion"></script>
    <script>
        function init(dotNetObj) {
            new ChatController(dotNetObj);
        }

        function getTimezoneOffset() {
            return new Date().getTimezoneOffset();
        };
    </script>
</HeadContent>

<SectionContent SectionName="nav-bar-section">
    <div id="room-menu" class="flex-grow-1 flex-shrink-1 dropdown dropdown-center mx-2">
        <button id="room-btn" class="btn btn-dark w-100 d-flex justify-content-center" data-bs-toggle="dropdown" aria-expanded="false">
            <span id="room-title-label">room:&nbsp;</span>
            <span id="room-title">@currentRoom</span>
        </button>

        <EditForm Model="this" OnSubmit="ChangeRoom" class="dropdown-menu dropdown-menu-center p-4">
            <div class="mb-3">
                <label for="room-name-input" class="form-label">Change room</label>
                <InputText type="text" class="form-control" id="room-name-input" placeholder="room name" @bind-Value="newRoom" />
            </div>
            <button type="submit" id="change-room-btn" class="btn btn-primary">Change</button>
        </EditForm>
    </div>
</SectionContent>

<div class="message-list-container flex-grow-1 d-flex flex-column-reverse">
    <div class="message-list container d-flex flex-column-reverse">
        @foreach (var msg in messages)
        {
            <div class="message @(IsCurrentUser(msg.SenderId) ? "own" : "")">
                <div class="message-header">
                    <span class="message-sender">@msg.SenderDisplayName</span>
                    <span class="message-time">@(DateTimeOffset.FromUnixTimeMilliseconds(msg.Timestamp).AddMinutes(-timezoneOffset).ToString("g"))</span>
                </div>
                <div class="message-body">
                    @((MarkupString)msg.Html)
                </div>
            </div>
        }
    </div>
    <div class="message-sentinel" style="height:1px;flex-shrink:0;"></div>
</div>
<div class="new-message-container">
    <div class="container d-flex p-2">
        <textarea rows="@newMessageAreaRows" class="new-message-area flex-grow-1" @bind="newMessageText"
                  @oninput="HandleInput" @onkeypress="HandleKeyPress"></textarea>
        <button class="send-message-btn" @onclick="SendMessage">
            <i class="fas fa-paper-plane"></i>
        </button>
    </div>
</div>

@code {
    private readonly LinkedList<MessageView> messages = new();
    private DotNetObjectReference<Chat>? self;
    private string? currentRoom;
    private string? newRoom;
    private bool isHistoryLoading;
    private bool isHistoryLoaded;
    private ChatUser? currentUser;
    private bool isComponentInitialized;
    private bool isJsInitialized;
    private int timezoneOffset;
    private string? newMessageText;
    private int newMessageAreaRows = 1;
    private bool skipOnInput = false;

    private long? MinMessageId => messages.Last?.Value.Id;
    private long? MaxMessageId => messages.First?.Value.Id;

    [CascadingParameter]
    private Task<AuthenticationState>? AuthStateTask { get; set; }

    [CascadingParameter(Name = "BuildVersion")]
    private string BuildVersion { get; set; } = "default";

    protected override async Task OnInitializedAsync()
    {
        self = DotNetObjectReference.Create(this);
        currentUser = await GetCurrentUser();
        NotificationsService.MessageReceived += OnMessageReceived;

        //use additional flag to prevent JSInterop calls before the component is fully initialized
        //this is needed because OnAfterRenderAsync can be invoked before OnInitializedAsync finished
        isComponentInitialized = true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (isComponentInitialized && !isJsInitialized)
        {
            isJsInitialized = true;
            timezoneOffset = await JSRuntime.InvokeAsync<int>("getTimezoneOffset");
            await JSRuntime.InvokeVoidAsync("init", self);
            await JoinRoom(currentUser?.DefaultRoom ?? "world");

            //force re-render to display messages
            StateHasChanged();
        }
    }

    [JSInvokable]
    public async Task OnMessageSentinelVisible()
    {
        if (await LoadHistory())
            StateHasChanged();
    }

    private async Task<ChatUser> GetCurrentUser()
    {
        ClaimsPrincipal? principal = null;
        if (AuthStateTask is not null)
            principal = (await AuthStateTask).User;

        if (principal?.Identity?.IsAuthenticated != true)
            throw new UnauthorizedAccessException();

        var user = await UserManager.GetUserAsync(principal);
        if (user is null)
            throw new UnauthorizedAccessException();

        return user;
    }

    private async Task JoinRoom(string room)
    {
        if (currentUser is null)
            throw new UnauthorizedAccessException();

        if (room == currentRoom)
            return;

        messages.Clear();

        currentRoom = room;
        isHistoryLoaded = false;

        if (currentUser.DefaultRoom != room)
        {
            currentUser.DefaultRoom = room;
            await UserManager.UpdateAsync(currentUser);
        }

        await LoadHistory();
    }

    private async Task<bool> LoadHistory()
    {
        if (currentRoom is null || isHistoryLoading || isHistoryLoaded)
            return false;

        try
        {
            isHistoryLoading = true;
            var requested = 20;
            var loaded = 0;

            await foreach (var msg in ChatService.GetMessagesBeforeId(currentRoom, MinMessageId, requested))
            {
                ReceiveMessage(msg);
                loaded++;
            }

            isHistoryLoaded = loaded < requested;
            return true;
        }
        finally
        {
            isHistoryLoading = false;
        }
    }

    private void ReceiveMessage(MessageView msg)
    {
        if (messages.Count == 0 || msg.Id < MinMessageId)
            messages.AddLast(msg);
        else if (msg.Id > MaxMessageId)
            messages.AddFirst(msg);
    }

    private async Task SendMessage()
    {
        if (string.IsNullOrWhiteSpace(newMessageText) || currentRoom is null)
            return;

        if (currentUser is null)
            throw new UnauthorizedAccessException();

        var text = newMessageText;
        newMessageText = null;
        newMessageAreaRows = 1;

        var msg = await ChatService.AddMessage(currentUser.Id, currentRoom, text);
        await NotificationsService.SendMessage(msg);
    }

    private void HandleInput(ChangeEventArgs e)
    {
        if (skipOnInput)
            return;

        newMessageText = e.Value?.ToString() ?? "";
        var rows = newMessageText?.Split('\n').Length ?? 1;

        if (rows != newMessageAreaRows)
            newMessageAreaRows = rows;
    }

    private async Task HandleKeyPress(KeyboardEventArgs e)
    {
        skipOnInput = false;

        if (e.Key == "Enter" && !e.ShiftKey)
        {
            //skip input event that will be triggered by Enter key
            skipOnInput = true;

            await SendMessage();
        }
    }

    private void OnMessageReceived(object? sender, MessageView msg)
    {
        if (msg.Room != currentRoom)
            return;

        InvokeAsync(() =>
        {
            ReceiveMessage(msg);
            StateHasChanged();
        });
    }

    private bool IsCurrentUser(string userId)
    {
        return currentUser?.Id == userId;
    }

    private async Task ChangeRoom()
    {
        if (!string.IsNullOrWhiteSpace(newRoom) && newRoom != currentRoom)
        {
            await JoinRoom(newRoom);
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        NotificationsService.MessageReceived -= OnMessageReceived;
    }
}
